@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 650px;
    background-color: hsl(0, 0%, 100%);
    gap: 10px;
    border-radius: 15px;
}

.imagem-qr-code {
    padding: 15px;
    border-radius: 25px;
}

.titulo-qr-code {
    text-align: center;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

.descricao-qr-code {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

footer {
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}